.bg-gray {
  background-color: #F9F3E0 !important;
}
/* cabin-sketch-regular - latin */
@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cabin-sketch-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Cabin Sketch Regular'), local('CabinSketch-Regular'),
       url('../fonts/cabin-sketch-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cabin-sketch-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cabin-sketch-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cabin-sketch-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cabin-sketch-v13-latin-regular.svg#CabinSketch') format('svg'); /* Legacy iOS */
}

/* cabin-sketch-700 - latin */
@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/cabin-sketch-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Cabin Sketch Bold'), local('CabinSketch-Bold'),
       url('../fonts/cabin-sketch-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cabin-sketch-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cabin-sketch-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cabin-sketch-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cabin-sketch-v13-latin-700.svg#CabinSketch') format('svg'); /* Legacy iOS */
}

@keyframes greeting {
  0% {
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
  }
  
10% {
    -webkit-filter: brightness(60%);
    -moz-filter: brightness(60%);
    -o-filter: brightness(60%);
    -ms-filter: brightness(60%);
  }
  20% {
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
  }
  30% {
    -webkit-filter: brightness(45%);
    -moz-filter: brightness(45%);
    -o-filter: brightness(45%);
    -ms-filter: brightness(45%);
  }
  40% {
    -webkit-filter: brightness(45%);
    -moz-filter: brightness(45%);
    -o-filter: brightness(45%);
    -ms-filter: brightness(45%);
  }
  50% {
    -webkit-filter: brightness(45%);
    -moz-filter: brightness(45%);
    -o-filter: brightness(45%);
    -ms-filter: brightness(45%);
  }
  60% {
    -webkit-filter: brightness(45%);
    -moz-filter: brightness(45%);
    -o-filter: brightness(45%);
    -ms-filter: brightness(45%);
  }
  70% {
    -webkit-filter: brightness(45%);
    -moz-filter: brightness(45%);
    -o-filter: brightness(45%);
    -ms-filter: brightness(5%);
  }
  80% {
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
  }
  90% {
    -webkit-filter: brightness(60%);
    -moz-filter: brightness(60%);
    -o-filter: brightness(60%);
    -ms-filter: brightness(60%);
  }

  100% {
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
    content: '';
  }
}

@keyframes greeting_text {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.6;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 1.0;
  }
  40% {
    opacity: 1.0;
  }
  50% {
    opacity: 1.0;
  }
  60% {
    opacity: 1.0;
  }
  70% {
    opacity: 1.0;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.6;
  }
  95% {
    opacity: 0.4;
  }
  98% {
    opacity: 0.2;
  }
  99% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.0;
  }
}

@keyframes home_band-desktop {
  0% {
    visibility: hidden;
    left: -500px;
  }
  100% {
    visibility: visible;
    top: 60vh;
    left: 25vw;
    z-index: 999;
  }
}

@keyframes home_band-mobile {
  0% {
    visibility: hidden;
    left: -500px;
  }
  100% {
    visibility: visible;
    top: 60vh;
    left: 0px;
    z-index: 999;
  }
}

body.home {
  overflow: hidden;
}

body.home:before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url(../images/suli-25p.jpg) no-repeat center center fixed;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  top: 0;
  left: 0;

  animation-name: greeting;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  /*animation-fill-mode: forwards;*/
}

body.home:after {
  content: 'Üdvözöljük az Esterházy Iskola \A honlapján!';
  white-space: pre-wrap;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Cabin Sketch", serif;
  font-size: 56px;
  font-weight: 700;
  color: Khaki;
  background-color: none;
  padding: 10px 10px 10px 10px;

  animation-name: greeting_text;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

body.notransition:before,
body.notransition:after {
  animation: none !important;
  transition: none !important;
  filter: none !important;
  opacity: 1.0 !important;
  content: '';
}

body.home #footer {
  display: none;
}

/*body.home #footer {
  background-image: none !important;
  background: none !important;
}

body.home #footer p {
  display: none;
}

body.home #footer:after {
  content: 'Email: \A Telefonszám: ';
  white-space: pre-wrap;
  color: black;
  text-shadow: 2px 2px white;
  font-size: large;
}*/

@media screen and (max-width: 600px) {
div.home-band-wrapper {
  position: absolute;
  top: 56vh !important;
  width: 100vw;
  left: 0;
  text-align: center;
  /*font-family: "Cabin Sketch";*/
  font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
  font-weight: bold;
  /*border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
  opacity: 0.7;*/

  animation-name: home_band-mobile;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  visibility: hidden;
  animation-timing-function: ease-out;
}
}

@media screen and (min-width: 601px) {
div.home-band-wrapper {
  position: absolute;
  top: 58vh !important;
  width: 100vw;
  left: 0;
  text-align: center;
  /*font-family: "Cabin Sketch";*/
  font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
  font-weight: bold;
  /*border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
  opacity: 0.7;*/

  animation-name: home_band-desktop;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  visibility: hidden;
  animation-timing-function: ease-out;
}
}
div.home-band-wrapper a {
  color: black;
  text-decoration: none;
}

div.home-footer {
  width: 100%;
  top: 80vh !important;
  position: absolute;
}

ul.home-band,
div.home-footer ul {
  list-style-type: none;
}

ul.home-band li, 
div.home-footer ul li {
  float: left;
  color: black;
}

div.home-footer ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

ul.home-band li:before,
div.home-footer ul li:before {
  content: ' | ';
}

.header-transparent #header:not(.scrolled) {
  background: rgba(255,255,255,0.4);
}

.center img {
  display: block;
  margin: 0 auto;
}

#footer {
  background-image: url('../images/footer.png') !important;
  background-repeat: repeat-x !important;
  background-position: left !important;
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}

#footer p {
  text-align: left;
  margin: auto;
  padding: 10px;
  color: black;
}

#footer p a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
